<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>spring boot - vue </title>
    <link href="http://localhost/static/css/app.46520b505f33694e3eee33aba78b61eb.css" rel="stylesheet" />
</head>
<body>
<div id="app">
    <script type="text/javascript" src="http://localhost/static/js/manifest.3322ba91290e7480ffb3.js"></script>
    <script type="text/javascript" src="http://localhost/static/js/vendor.13ccb5cb8cfc8644879c.js"></script>
    <script type="text/javascript" src="http://localhost/static/js/app.3c073d6bceb68d30b32f.js"></script>
</div>
</body>
</html>
